/target

.cache
__pycache__/
site/

# Insta snapshots.
*.pending-snap

# JetBrains IDE
.idea

# Vscode IDE
.vscode

# macOS
**/.DS_Store

# profiling flamegraphs
*.flamegraph.svg

# Node.js
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
